.placeholder {
  font-size: 50px;
}

.get-started {
  color: black;
}

.landing-image {
  background-image: url('../images/chicago-skyline.png') !important;
  background-size: cover !important;
}

.landing-image-subpage {
  height: 300px;
  background-color: gray;
}

.translucent {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  padding-bottom: 20px;
}

.subpage-header {
  background-color: rgb(35, 35, 35);
  height: 230px;
  width: 100%;
  margin: auto;
  margin-top: 0px;
}

.title-subpage {
  letter-spacing: 5px;
  color: white;
  padding-top: 75px;
  font-size: 50px;
}

.titlee {
  letter-spacing: 5px;
  margin-bottom: -10px;
}

.subtitle {
  margin-top: 0px;
  letter-spacing: 2px;
  font-weight: lighter;
}

.case-cards {
  padding: 50px 20px 20px 50px;
  text-align: center;
}

.center {
  text-align: center;
}

.problems {
  padding: 50px;
  margin: auto;
  width: 100%;
  border: None;
}

.hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }
